doctype transitional
html(class='no-js', lang='en')




  head.head_test

    title [##_title_##] :: [##_page_title_##]
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //google font loading
    //- link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css', rel='stylesheet', type='text/css')
    //-   link(href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css')

    link(rel='alternate', type='application/rss+xml', title='[##_title_##]', href='[##_rss_url_##]')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    link(rel="stylesheet", href="css/app.css")
    link(rel='stylesheet', media='screen', type='text/css', href='./style.css')
    link(rel='shortcut icon', href='[##_blog_link_##]favicon.ico')
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")



  img(id="bg" alt="")





  body

    s_t3

      #outer-wrap
        #inner-wrap
          header#top(role='banner')
            .block


              .top_image
                a(href='[##_blog_link_##]', title='[##_title_##]')

                    img(src='[##_image_##]', alt='블로그 이미지')

              .top_title
                h1
                  a(href='[##_blog_link_##]', title='[##_title_##]') [##_title_##]
              a#nav-open-btn.nav-btn(href='#nav') Book Navigation





          nav#nav(role='navigation')
            .block
              h2.block-title Chapters
              | [##_blog_menu_##]

              a#nav-close-btn.close-btn(href='#top') Return to Content





          #main(role='main')


              #container_content.row

                #content.columns.small-12.small-centered.medium-11.medium-centered.large-8













                    s_list



                      .row.search-result-box
                        .columns.small-12.medium-9.right
                          #searchList.nonEntry
                                h3 '[##_list_conform_##]'에 해당되는 글 [##_list_count_##]건
                                ol
                                      s_list_rep
                                            li
                                                  span.date [##_list_rep_regdate_##]
                                                  a(href='[##_list_rep_link_##]') [##_list_rep_title_##]
                                                  span.cnt [##_list_rep_rp_cnt_##]
                    s_rplist
                      #searchRplist.nonEntry
                        h3 '[##_rplist_conform_##]'에 해당되는 댓글 [##_rplist_count_##]건
                        ol
                          s_rplist_rep
                            li
                              span.date [##_rplist_rep_regdate_##]
                              a(href='[##_rplist_rep_link_##]') [##_rplist_rep_body_##]
                              span.cnt [##_rplist_rep_rp_cnt_##]
                              span.name [##_rplist_rep_name_##]
                    s_local
                      #localog.nonEntry
                        h3 지역로그
                        s_local_spot_rep
                          .spot(style='margin-left: [##_local_spot_depth_##]px')
                            | [##_local_spot_##]
                        s_local_info_rep
                          .info(style='margin-left: [##_local_info_depth_##]px')
                            a(href='[##_local_info_link_##]') [##_local_info_title_##]
                    s_tag
                      #taglog.nonEntry
                        h3 태그
                        ul
                          s_tag_rep
                            li
                              a(href='[##_tag_link_##]', class='[##_tag_class_##]') [##_tag_name_##]
                    s_guest
                      .guestbook.nonEntry
                        //- h3 방명록을 남겨주세요!

                        .row
                          s_guest_input_form
                            #guestWrite
                            s_guest_member
                              s_guest_form



                            .row
                              .columns.small-12.medium-3
                                .comment-sugguest-icon
                                  i.fa.fa-comment-o.fa-flip-horizontal.fa-5x


                              .columns.small-12.medium-9


                                .row
                                  .columns.small-12.medium-6

                                    .guest-name.guest-input

                                      p
                                        input(placeholder="Name", type='text', name='[##_guest_input_name_##]', value='[##_guest_name_##]')

                                  .columns.small-12.medium-6

                                    .guest-password.guest-input
                                      p
                                        input(placeholder="Password",type='password', name='[##_guest_input_password_##]', value='')

                                .row
                                  .columns.small-12.medium-12
                                    .guest-url.guest-input

                                      p
                                          //- input(placeholder="link",type='text', name='[##_rp_input_homepage_##]', value='[##_guest_homepage_##]')
                                        input(placeholder="link", type='text', name='[##_guest_input_homepage_##]', value='[##_guest_homepage_##]')
                            .guestbook-input-text.columns.small-12.guest-input
                              p
                                textarea(name='[##_guest_textarea_body_##]', rows='10', cols='30')


                            .comment-bottom-input
                              p
                                //- input.submit(type='submit', value='댓글 달기', onclick='[##_rp_onclick_submit_##]')
                                input#guestbook-input.right(type='submit', value='방명록 글 남기기', onclick='[##_guest_onclick_submit_##]')

                            .comment-send-icon

                              label(for='guestbook-input')
                                i.fa.fa-send-o.fa-2x



                        .row
                          s_guest_container
                            #guestList
                              ol
                                s_guest_rep
                                  li(id='[##_guest_rep_id_##]')
                                    div(class='[##_guest_rep_class_##]')

                                                  .row

                                                    .comment-user-id.columns.small-12

                                                      .name-icon

                                                      .name-text

                                                        .name [##_guest_rep_name_##]

                                                    .comment-user-comment.columns.small-12


                                                          p [##_guest_rep_desc_##]
                                                          .control.right



                                                            a.write(href='#', onclick='[##_guest_rep_onclick_reply_##]')
                                                              i.fa.fa-comments-o

                                                            a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                                              i.fa.fa-edit

                                                            .date  [##_guest_rep_date_##]


                                    s_guest_reply_container
                                    ul
                                      s_guest_reply_rep


                                        li(id='[##_guest_rep_id_##]')
                                                    .row
                                                      .columns.small-9.comment-second-box.right

                                                          .row.comment-second-row
                                                              .columns.small-12
                                                                .name-icon
                                                                .name-text.left [##_guest_rep_name_##]

                                                              .columns.small-11.samll-centered.comment-second-p
                                                                p [##_guest_rep_desc_##]

                                                                .control.right
                                                                  //- a.address(href='[##_rp_rep_link_##]')
                                                                  //-   span 댓글주소
                                                                  //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                                  //-   span 수정/삭제

                                                                  a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                                                    i.fa.fa-edit
                                                                .date.right  [##_guest_rep_date_##]
                    s_notice_rep
                      .entryNotice
                        .titleWrap
                          h2
                            a(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
                          span.category 공지사항
                          span.date [##_notice_rep_date_##]
                        .article
                          | [##_notice_rep_desc_##]
                    s_article_protected
                      .entryProtected
                        .titleWrap
                          h2
                            a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
                          span.date [##_article_rep_date_##]
                        p.text
                          | 보호되어 있는 글입니다.
                          br
                          |           내용을 보시려면 비밀번호를 입력하세요.
                        p
                          label(for='[##_article_password_##]') 비밀번호 ::
                          input(id='[##_article_password_##]', name='[##_article_password_##]', type='password', onkeydown='if (event.keyCode == 13) [##_article_dissolve_##]')
                          input.submit(type='button', value='확인', onclick='[##_article_dissolve_##]')
                    s_article_rep
                      //- .entry
                      //-   .titleWrap
                      //-     h2
                      //-       a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
                      //-     span.category
                      //-       i.fa.fa-folder-o
                      //-         a(href='[##_article_rep_category_link_##]')  [##_article_rep_category_##]
                      //-     span.date
                      //-       i.fa.fa-calendar-o  [##_article_rep_date_##]


                      //-     s_ad_div
                      //-       .admin
                      //-         a(href='[##_s_ad_m_link_##]') 수정
                      //-         |  :
                      //-         a(href='#', onclick='[##_s_ad_m_onclick_##]') 수정(창으로)
                      //-         |  |
                      //-         |                 ([##_s_ad_s1_label_##])→
                      //-         a(href='#', onclick='[##_s_ad_s2_onclick_##]') [##_s_ad_s2_label_##]
                      //-         |  |
                      //-         a(href='#', onclick='[##_s_ad_t_onclick_##]') 관련글(트랙백)
                      //-         |  |
                      //-         a(href='#', onclick='[##_s_ad_d_onclick_##]') 삭제
                      //-   // titleWrap close
                      //-   .article
                      //-     | [##_article_rep_desc_##]

                      //-     .adsense-bottom
                      //-       span
                      //-         // 애드센스 본문 하단




                      .entry.columns.medium-12.right

                        .vertical-line.medium-11




                          .date-box.columns.small-12.medium-2
                              .date-icon
                                //- i.fa.fa-clock-o.fa-2x



                              .date_tab
                                // 날짜

                                .tab_year
                                  script(type='text/javascript').
                                    strDate='[##_article_rep_date_##]'.substr(0,4);
                                    document.write(strDate);


                                //- .tab_time
                                //-   script(type='text/javascript').
                                //-     strDate='[##_article_rep_date_##]'.substr(11,5);
                                //-     document.write(strDate);

                                .tab_date
                                  script(type='text/javascript').
                                    strDate='[##_article_rep_date_##]'.substr(5,5);
                                    document.write(strDate);



                                //- .comment-box

                                //-   a.comment-small(href='#rp', onclick='[##_article_rep_rp_link_##]')
                                //-     i.fa.fa-comments-o.fa-flip-horizontal &nbsp;
                                //-     s_rp_count

                                //-       //- | 댓글&nbsp;
                                //-       span.cnt [##_article_rep_rp_cnt_##]








                          .article-box.columns.small-12.medium-10
                            h2.article-box-title
                              a(href='[##_article_rep_link_##]') [##_article_rep_title_##]










                            .article_info-box
                              span.category
                                i.fa.fa-folder-o
                                  a(href='[##_article_rep_category_link_##]')  [##_article_rep_category_##]
                              s_ad_div
                                .admin
                                  a(href='[##_s_ad_m_link_##]') 수정
                                  |  :
                                  a(href='#', onclick='[##_s_ad_m_onclick_##]') 수정(창으로)
                                  |  |
                                  |                 ([##_s_ad_s1_label_##])→
                                  a(href='#', onclick='[##_s_ad_s2_onclick_##]') [##_s_ad_s2_label_##]
                                  |  |
                                  a(href='#', onclick='[##_s_ad_t_onclick_##]') 관련글(트랙백)
                                  |  |
                                  a(href='#', onclick='[##_s_ad_d_onclick_##]') 삭제

                            .article
                              | [##_article_rep_desc_##]

                              .adsense-bottom
                                span
                                  // 애드센스 본문 하단












                              s_tag_label
                                i.fa.fa-tags.tagTrail.left
                                  span.tagText
                                  |  [##_tag_label_rep_##]


                          .author-box.columns.samll-12.medium-12.right


                                .actionTrail
                                  a(href='#tb', onclick='[##_article_rep_tb_link_##]')
                                    i.fa.fa-random.fa-flip-horizontal &nbsp;
                                    s_tb_count
                                      | 트랙백&nbsp;
                                      span.cnt [##_article_rep_tb_cnt_##]
                                      | 개
                                  | ,

                                  a(href='#rp', onclick='[##_article_rep_rp_link_##]')
                                    i.fa.fa-comments-o.fa-flip-horizontal &nbsp;
                                    s_rp_count

                                      //- | 댓글&nbsp;
                                      span.cnt [##_article_rep_rp_cnt_##]
                                      | 개

                                .author

                                  i.fa.fa-pencil-square-o
                                  span.text
                                  //- | Posted by&nbsp;

                                  | &nbsp;[##_article_rep_author_##]


                          .article-reply.small-12.medium-12.right

                            s_tb
                              .trackback
                                h3 트랙백 주소 :: [##_tb_address_##]
                                s_tb_container
                                  ol
                                    s_tb_rep
                                      li(id='[##_tb_rep_id_##]')
                                        h4
                                          | Subject:
                                          a(href='[##_tb_rep_url_##]', onclick='window.open(this.href); return false', rel='external nofollow') [##_tb_rep_title_##]
                                        span.from
                                          | Tracked from
                                          span.name [##_tb_rep_site_##]
                                        span.date [##_tb_rep_date_##]
                                        a.delete(href='#', onclick='[##_tb_rep_onclick_delete_##]; return false')
                                          span 삭제
                                        p [##_tb_rep_desc_##]
                              // trackback close
                            s_rp
                              .comment
                                h3 댓글을 달아 주세요
                                .commentList
                                  s_rp_container
                                    ol
                                      s_rp_rep
                                        li(id='[##_rp_rep_id_##]')

                                          div(class='[##_rp_rep_class_##]')

                                                .row

                                                  .comment-user-id.columns.small-12

                                                    .name-icon

                                                    .name-text

                                                      .name [##_rp_rep_name_##]

                                                  .comment-user-comment.columns.small-12


                                                        p [##_rp_rep_desc_##]
                                                        .control.right



                                                          a.write(href='#', onclick='[##_rp_rep_onclick_reply_##]')
                                                            i.fa.fa-comments-o

                                                          a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                            i.fa.fa-edit

                                                          .date  [##_rp_rep_date_##]

                                          s_rp2_container
                                            ul
                                              s_rp2_rep
                                                li(id='[##_rp_rep_id_##]')
                                                    .row
                                                      .columns.small-11.comment-second-box.right


                                                          //- div(class='[##_rp_rep_class_##]')




                                                          .row.comment-second-row

                                                              .columns.small-12


                                                                .name-icon



                                                                .name-text.left [##_rp_rep_name_##]


                                                              .columns.small-11.samll-centered.comment-second-p

                                                                p [##_rp_rep_desc_##]



                                                                .control.right
                                                                  //- a.address(href='[##_rp_rep_link_##]')
                                                                  //-   span 댓글주소
                                                                  //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                                  //-   span 수정/삭제

                                                                  a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                                    i.fa.fa-edit
                                                                .date.right  [##_rp_rep_date_##]

                                s_rp_input_form

                                  .commentWrite
                                    s_rp_member


                                      .row
                                        .columns.small-12.medium-3
                                          .comment-sugguest-icon
                                            i.fa.fa-comments-o.fa-flip-horizontal.fa-5x
                                        .columns.small-12.medium-9
                                          s_rp_guest
                                            .row
                                              .columns.small-12.medium-6

                                                  input(placeholder="Name", type='text', name='[##_rp_input_name_##]', value='[##_guest_name_##]')
                                              .columns.small-12.medium-6

                                                  input(placeholder="Password",type='password', name='[##_rp_input_password_##]', value='')
                                            .row
                                              .columns.small-12.medium-12.url-row


                                                  input(placeholder="link", type='text', name='[##_rp_input_homepage_##]', value='')

                                            .secret-box.right

                                              .secret-check.right
                                                input.checkbox(type='checkbox', name='[##_rp_input_is_secret_##]')
                                              .secret-label
                                                label(for='secret')
                                                  i.fa.fa-lock




                                    .row.comment-bottom-text

                                        .comment-input-text.columns.small-12.medium-10.right

                                            textarea(name='[##_rp_input_comment_##]', rows='6', cols='30')


                                          .comment-send-box

                                            .comment-send-icon


                                              input.submit(type='submit', value="\uf1d9", onclick='[##_rp_onclick_submit_##]')











                                  // commentWrite close



                .bottom-circle.hide-for-small








          .columns.small-12.small-centered.medium-11.medium-centered.large-8.hide-for-small
            .article-end-circle





          footer(role='contentinfo')








              .footer.columns.large-10.large-centered.medium-10.medium-centered.small-12




                .row.pagination-line
                              s_paging

                                  .pagination-centered

                                    ul.numbox.pagination

                                      li(class="arrow arrow-left")
                                        a([##_prev_page_##] id="prevPage")
                                          i.fa.fa-chevron-left
                                      s_paging_rep
                                        li
                                          a.num([##_paging_rep_link_##]='')  [##_paging_rep_link_num_##]



                                      li(class="arrow arrow-right")
                                        a([##_next_page_##] id="nextPage")
                                           i.fa.fa-chevron-right




                #sidebar
                  .wrapper.floatWrapper

                    //- .row.sidebar_layer_info
                    //-   .sidebar-info.columns.small-12
                    //-     s_sidebar
                    //-       s_sidebar_element
                    //-         // 블로그 소개 모듈
                    //-         .blog_info

                    //-           .columns.small-2.medium-3

                    //-             #blogImage.right
                    //-               img(src="[##_image_##]", alt="블로그 이미지")


                    //-           .columns.small-10.medium-9.blog_info_text
                    //-             .row
                    //-               .columns.small-12.medium-10.left
                    //-                 #blogDesc [##_desc_##]

                    //-                 #userID
                    //-                   i.fa.fa-star  &nbsp;[##_blogger_##]






                    .row.sidebar_layer1
                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-1.sidebar-box-in
                          s_sidebar


                            s_sidebar_element
                              // 공지사항 모듈
                              s_rct_notice
                                #notice

                                  h3.stitle
                                    i.fa.fa-exclamation-triangle &nbsp;&nbsp;

                                    | &#44277;&#51648;&#49324;&#54637;

                                  ul
                                    s_rct_notice_rep
                                      li
                                        a(href="[##_notice_rep_link_##]") [##_notice_rep_title_##]
                            // 공지사항 모듈

                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-2.sidebar-box-in
                          s_sidebar


                            s_sidebar_element
                              // 카테고리 모듈

                              .row.catergory-block

                                #category.columns.small-12.small-centered


                                    h3.stitle
                                        i.fa.fa-list &nbsp;&nbsp;

                                        | &#52852;&#53580;&#44256;&#47532;

                                        //- | [##_category_##]
                                        | [##_category_list_##]
                                    hr
                            // 카테고리 모듈

                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-3.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 최근 트랙백 모듈
                              #recentTrackback
                                h3.stitle
                                  i.fa.fa-sign-out &nbsp;&nbsp;

                                  | &#52572;&#44540;&#50640; &#48155;&#51008; &#53944;&#47001;&#48177;
                                ul
                                  s_rcttb_rep
                                    li
                                      a(href="[##_rcttb_rep_link_##]") [##_rcttb_rep_desc_##].
                                      span.info
                                        span.name [##_rcttb_rep_name_##]
                                        span.date [##_rcttb_rep_time_##]
                            // 최근 트랙백 모듈


                            s_sidebar_element
                              // 글 보관함 모듈
                              #archive
                                h3.stitle
                                  i.fa.fa-book &nbsp;&nbsp;

                                  | &#44544; &#48372;&#44288;&#54632;
                                ul
                                  s_archive_rep
                                    li
                                      a(href="[##_archive_rep_link_##]") [##_archive_rep_date_##]
                                      span.cnt ([##_archive_rep_count_##])
                            // 글 보관함 모듈



                    .row.sidebar_layer2
                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-4.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 최근 포스트 모듈
                              #recentPost
                                h3.stitle
                                  i.fa.fa-newspaper-o &nbsp;

                                  |  &#52572;&#44540;&#50640; &#50732;&#46972;&#50728; &#44544;
                                ul
                                  s_rctps_rep
                                    li
                                      a(href="[##_rctps_rep_link_##]") [##_rctps_rep_title_##].
                                      span.cnt [##_rctps_rep_rp_cnt_##]
                            // 최근 포스트 모듈

                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-5.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 최근 댓글 모듈
                              #recentComment
                                h3.stitle
                                  i.fa.fa-comment &nbsp;&nbsp;

                                  | &#52572;&#44540;&#50640; &#45804;&#47536; &#45843;&#44544;
                                ul#recentComments
                                  s_rctrp_rep
                                    li
                                      a(href="[##_rctrp_rep_link_##]") [##_rctrp_rep_desc_##].
                                      span.info
                                        span.name [##_rctrp_rep_name_##]
                                        //- span.date [##_rctrp_rep_time_##]
                            // 최근 댓글 모듈

                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-6.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 링크 모듈
                              #link
                                h3.stitle
                                  i.fa.fa-link &nbsp;&nbsp;

                                  | &#47553;&#53356;
                                ul
                                  s_link_rep
                                    li
                                      a(href="[##_link_url_##]", onclick="window.open(this.href); return false") [##_link_site_##].
                              // 링크 모듈



                          s_sidebar_element
                            // 카운터 모듈
                            #counter
                              .total
                                span Total :
                                | [##_count_total_##]
                              .today
                                span Today :
                                | [##_count_today_##]
                              .yesterday
                                span Yesterday :
                                | [##_count_yesterday_##]
                          // 카운터 모듈
                          s_sidebar_element
                            // RSS 링크
                            #btnRSS
                              a(href="[##_rss_url_##]", onclick="window.open(this.href); return false", title="[##_title_##] 구독하기")
                                span [##_title_##] &#44396;&#46021;&#54616;&#44592;
                          // RSS 링크









                    .row.sidebar_layer3
                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-7.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 달력 모듈
                              #calendar
                                h3
                                  i.fa.fa-calendar &nbsp;&nbsp;
                                  | &#45804;&#47141;
                                s_custom_calendar
                                  table.tt-calendar(cellpadding="0", cellspacing="1", style="width: 100%; table-layout: fixed")
                                    caption.cal_month
                                      a.prev-month(href="[##_prev_month_##]", title="1개월 앞의 달력을 보여줍니다.") &#171;
                                      a.next-month(href="[##_next_month_##]", title="1개월 뒤의 달력을 보여줍니다.") &#187;
                                      a.this-month(href="[##_this_month_##]", title="현재 달의 달력을 보여줍니다.") [##_year_##].[##_month_##]
                                    s_calendar_header
                                      thead
                                        tr
                                          s_calendar_header_item
                                            th(class="[##_class_##]") [##_title_##]

                                    s_calendar_days
                                      tbody
                                        s_calendar_week
                                          tr(class="[##_class_##]")
                                            s_calendar_days_item
                                              td(class="[##_class_##]") [##_day_##]
                            // 달력 모듈



                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-8.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 태그목록 모듈
                              .row.tag-block


                                  #tagbox
                                    h3.stitle
                                      i.fa.fa-tags &nbsp;&nbsp;
                                      | &#53468;&#44536;&#47785;&#47197;
                                    ul
                                      s_random_tags
                                        li
                                          a(class="[##_tag_class_##]" href="[##_tag_link_##]")  [##_tag_name_##]
                                // 태그목록 모듈


                            s_sidebar_element
                              //검색 모듈

                              .row
                                .columns.small-10.small-centered

                                  #searchBox
                                    s_search
                                      input(placeholder="Search", type='text', name='[##_search_name_##]', value='[##_search_text_##]', onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')




                      .sidebar-box.columns.small-12.medium-6.large-4
                        .sidebar-9.sidebar-box-in
                          s_sidebar
                            s_sidebar_element
                              // 관리자 모듈
                              #adminMenu
                                ul
                                  li.tab_admin
                                    a(href='[##_owner_url_##]')
                                      i.fa.fa-key  Admin
                                      //- img(src='./images/btn_admin.gif', alt='관리자')
                                  li.tab_write
                                    a(href='[##_owner_url_##]/entry/post')
                                      i.fa.fa-pencil  Write
                                      //- img(src='./images/btn_write.gif', alt='글쓰기')














                  // close wrapper
                // close sidebar

              .footer_copyright.row
                  |Designed by&nbsp
                  i.fa.fa-lemon-o
                  a(href='http://www.limeartworks.com/')   Lime Artworks

                    //- .copyright.flatcube_copy

                    //-   i.fi-lightbulb

                    //-   a(href='http://flatcubefactory.tistory.com/')  Designed by FlatCube Factory


















  script(type="text/javascript", src="./images/jquery.min.js")



  //- script(type="text/javascript", src="./images/foundation.min.js")

  //- script(type="text/javascript", src="./images/foundation.topbar.js")

  script(src='./images/main.js')


  //- script.
  //-   $(document).foundation();


  script.
    jQuery( '.another_category' ).appendTo( '.adsense-bottom' );

  //- script(src='./images/burger.js')


  script
    //- $("input.submit").val("\uf002");
    //- $("input.comment-submit").val("\uf1d9")



  style(type='text/css').
    .another_category { border: 1px solid #E5E5E5; padding: 10px 10px 5px; margin:10px 0; clear: both; }
    .another_category h4 { font-size: 12px !important; margin: 0 !important; border-bottom: 1px solid #E5E5E5 !important; padding: 2px 0 6px !important; }
    .another_category h4 a { font-weight: bold !important; }
    .another_category table { table-layout: fixed; border-collapse: collapse; width: 100% !important; margin-top: 10px !important; }
    * html .another_category table { width: auto !important; }
    *:first-child+html .another_category table { width: auto !important; }
    .another_category th, .another_category td { padding: 0 0 4px !important; }
    .another_category th { text-align: left; font-size: 12px !important; font-weight: normal;  word-break: break-all; overflow: hidden; line-height: 1.5; }
    .another_category td { text-align: right; width: 80px; font-size: 11px; }
    .another_category th a { font-weight: normal; text-decoration: none; border: none !important; }
    .another_category th a.current{ font-weight: bold; text-decoration: none !important; border-bottom: 1px solid !important; }
    .another_category th span { font-weight: normal; text-decoration: none; font: 10px Tahoma, Sans-serif; border: none !important; }
    .another_category_color_gray, .another_category_color_gray h4 { border-color: #E5E5E5 !important; }
    .another_category_color_gray * { color: #000!important; }
    .another_category_color_gray th a.current{border-color:#fff !important;}
    .another_category_color_gray h4, .another_category_color_gray h4 a { color: #000 !important; }
    //- .another_category_color_red, .another_category_color_red h4 { border-color: #F6D4D3 !important;  }
    //- .another_category_color_red * { color: #E86869 !important; }
    //- .another_category_color_red th a.current{border-color:#E86869 !important;}
    //- .another_category_color_red h4, .another_category_color_red h4 a { color: #ED0908 !important; }
    //- .another_category_color_green, .another_category_color_green h4 { border-color: #CCE7C8 !important; }
    //- .another_category_color_green * { color: #64C05B !important; }
    //- .another_category_color_green th a.current{border-color:#64C05B !important;}
    //- .another_category_color_green h4, .another_category_color_green h4 a { color: #3EA731 !important; }
    //- .another_category_color_blue, .another_category_color_blue h4 { border-color: #C8DAF2 !important; }
    //- .another_category_color_blue * { color: #477FD6 !important; }
    //- .another_category_color_blue th a.current{border-color:#477FD6 !important;}
    //- .another_category_color_blue h4, .another_category_color_blue h4 a { color: #1960CA !important; }
    //- .another_category_color_violet, .another_category_color_violet h4 { border-color: #E1CEEC !important;  }
    //- .another_category_color_violet * { color:#9D64C5 !important; }
    //- .another_category_color_violet th a.current{border-color:#9D64C5 !important;}
    //- .another_category_color_violet h4, .another_category_color_violet h4 a { color: #7E2CB5 !important; }







